@charset "utf-8";

*{
  margin:0;
  padding:0;
  font-family: sans-serif;
  color: white;
}
.background{
  font-size: 1.23em;
  background-color: black;
  width: 100%;
}
.cabecalho{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul{
  display: flex;
  list-style: none;
  margin:5;
  padding: 8px;
  flex-wrap: wrap;
}
.menu ul li{
  margin:2px;
  padding: 3px;
}
.menu ul li:hover{
  padding: 10px;
  background-color: red;
  text-transform: uppercase;
  cursor: pointer;
}
